{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block main %}
    {#搜索功能错误信息#}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header  class="entry-header">
                <h1 class="entry-title"  >
                    <a href="{{ post.get_absolute_url }}" style="color:	#259;">{{ post.title }}</a>
                </h1>
                <div class="entry-meta"  >
                    <span class="post-category"><a href="{{ post.get_absolute_url }}">{{ post.category.name }}</a></span>
                    <span class="post-date">
                        <a href="{{ post.get_absolute_url }}">
                            <time class="entry-date" datetime="{{ post.created_time }}">
                                {{ post.created_time }}
                            </time>
                        </a>
                    </span>
                    <span class="post-author"><a href="{{ post.get_absolute_url }}">{{ post.author }}</a></span>
                    {#评论#}
                    <span class="comments-link">
                        <a href="{{ post.get_absolute_url }}#location_comment" name="location_comment">
                            <span  class="glyphicon glyphicon-comment"></span>
                            <span>{{ post.comment_set.count }}</span>
                        </a>
                    </span>
                    {#阅读#}
                    <span class="views-count">
                        <a href="{{ post.get_absolute_url }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span>{{post.views}}</span>
                        </a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    {# 调用 post 方法逆向解析 url#}
                    <a href="{{ post.get_absolute_url }}" class="more-link" >查看更多</a>
                </div>
            </div>
        </article>
    {% empty %}
        <h2 class="no-post" style="text-align: center">暂时没有你要找的东西~</h2>
    {% endfor %}


    {% if is_paginated %}
    <div class="pagination">
      {% if first %}
        <a href="?page=1">1</a>
      {% endif %}
      {% if left %}
        {% if left_has_more %}
            <span>...</span>
        {% endif %}
        {% for i in left %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
      {% endif %}
      <a href="?page={{ page_obj.number }}" style="background-color: #00aaaa">{{ page_obj.number }}</a>
      {% if right %}
        {% for i in right %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if right_has_more %}
            <span>...</span>
        {% endif %}
      {% endif %}
      {% if last %}
        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
      {% endif %}
    </div>
    {% endif %}

{% endblock %}



