{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

    <img src="{% static 'blog/image/gusetbook.jpg' %}" alt="guestbook" class="guestbook-pic">
    <h3 style="color:#3399FF; margin:30px 0 -15px;">留言墙</h3>
    <form action="{% url 'msgboard:msg_board' %}" method="post" class="comment-form" style="margin-top: 50px;">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="name" placeholder="昵称" required>
            </div>
            <div class="col-md-12">
                <textarea name="message"  placeholder="留言内容" required></textarea>
                <button type="submit" class="btn-send btn-5 btn-5b ion-ios-paperplane btn-success" style="border-radius: 8px;"><span>发布</span></button>
            </div>

        </div>
    </form>
    <div class="comment-list-panel ">
        <h4>
            <span  class="glyphicon glyphicon-comment"></span>
            留言板，<span>共{{ messages.count }}条</span>
        </h4>
        <ul class="comment-list list-unstyled">
            {% for message in messages %}
                <li class="comment-item">
                    <span class="nickname">{{ message.name }}</span>
                    <time class="submit-date"
                          datetime="{{ message.created_time }}">{{ message.created_time }}</time>
                    <div class="text">
                        {{ message.text }}
                    </div>
                </li>
            {% empty %}
                赶紧抢占沙发吧~
            {% endfor %}
        </ul>
    </div>

{% endblock %}